@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-brand-dark: #1f2933;
  --color-brand-white: #f7f9fa;
  --color-brand-secondary: #e9ecf1;
  --color-brand-turquoise: #0ea5a4;
  --color-brand-turquoise-light: #f5ffff;
  --color-brand-turquoise-mid: #22788e;
}

@layer base {
  body {
    @apply bg-white text-brand-dark;
  }
}
